# Python cache for whole project
__pycache__/
*.py[cod]
*$py.class

# Anime Recommender Project
Anime Recommender/venv
Anime Recommender/.vscode
Anime Recommender/.idea
Anime Recommender/logs
Anime Recommender/.env
Anime Recommender/ANIME_RECOMMENDER.egg-info/
Anime Recommender/ANIME-RECOMMENDER.egg-info